
.KYBNightMode .KYBH *
{
	background-color: transparent !important;
}

.KYBH
{
	background-color: transparent !important;
	margin: 0 !important;	
	padding: 0 !important;
	line-height : inherit !important;
	font-size : inherit !important;
}

.KYBNightMode .KYBH
{
	background-color: transparent !important;
}

.KYBUnderline 
{
     text-decoration:underline; 
}

.KYBH.Start, .KYBH.End
{
	-webkit-background-size: 100% 100% !important;
	background-repeat: no-repeat !important;
}

.KYBH.Start.End 
{
	-webkit-background-size: 50% 100%, 50% 100% !important;
	background-position: left, right !important;
	background-repeat: no-repeat !important;
}

.KYBSearchHighlight
{
	background-color: #b7b7b7 !important; 
	margin: 0 !important;
}

.KYBH.FLKAnnotationColor0
{
	background-color: #fbdab9 !important; 
}
.KYBH.FLKAnnotationColor1
{
	background-color: #f8c9cd !important; 
}
.KYBH.FLKAnnotationColor2
{
	background-color: #f9f0ab !important; 
}
.KYBH.FLKAnnotationColor3
{
	background-color: #a8e3c7 !important; 
}
.KYBH.FLKAnnotationColor4
{
	background-color: #d0c6f5 !important; 
}

.KYBH.FLKAnnotationFontColor
{
	color: black !important;
}

.FLKTTSHighlight 
{
  	background-color: rgba(0, 135, 255, 0.3) !important;
}

.-flk-epub-media-overlay-active {
	background-color: rgba(0, 135, 255, 0.3) !important;
	color: black !important;
}

.KYBMemo {
	position: relative !important;
}

.icon_memo {
	padding: 0px !important;
	margin: 0px !important;
	position: absolute !important;
	display : inline !important;
}

a {
    text-decoration:none;
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 0.6em;
    margin: -0.6em;
    text-indent : 0em !important;
}